body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: Azure;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 10px;
    font-size: 3.5em;
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    min-width: 300px;
    background-color: rgba(252,252,252,0.6);
    font-size: 1.0em;
    padding: 10px 40px;
    border: 2px solid white;
    color: #333;
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: all .6s;
    text-align: center;
    border-radius: 4px;
    font-weight: 800;
}
.btn:hover {
    background: #C0392B;
    color: #fff;
    z-index: 999;
}

.container {
    display: table;
    padding-top: 18%;
    padding-bottom: 150px;
    width: 100%;
}